.bodyC{
    background-image: url("../../backgroundimagee.png");
    height:100vh;
    background-size: cover;
}
.table, .tableRow{
    border:1px solid black;
    border-collapse:collapse;
    text-align: center;
    
}
.table{
    width:78.3%;
}
.tableData{
    border:1px solid black;
    width:200px;
}
.crossButton, .editButton{
    background-color: transparent;
    border-width: 0px;
    outline: none;
    color:rgb(156, 156, 39);
    font-size:26px
}
