.headerC{
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    width:100vw;
}
.logoContainer{
    display: flex;
}
.logoImg{
    height: 50px;
}
.logoName{
    font-family: var(--fontFamily);
    font-size: 26px;
}
.searchInput{
    outline: none;
    background-color: transparent;
    border-width: 0px;
}
.inputC{
    border:1px solid black;
    padding:5px;
    border-radius: 8px;
}
/* @media (max-width:876px){
    .headerC{
        width:100vw;
    }
} */