.appContainer{
    display: flex;
}
.sidebarC{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:200px;
    padding-top:30px;
}
.sideInput{
    margin-bottom: 20px;
    border-width:0px;
    border-bottom:2px solid var(--mainColor);
    outline: none;
}
.alotSlotButton{
    background-color: var(--mainColor);
    margin-bottom: 25px;
    border-width: 0px;
    border-radius: 8px;
    height: 30px;
    width:150px
}
.formC{
    background-color:var(--mainColor) ;
    padding: 10px;
    height:46vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.labelT{
    font-family: var(--fontFamily);
    font-size: 18px;
    margin-top: 10px;
}
.generateInput{
    border-width: 0px;
    background-color: transparent;
    border-bottom:1px dashed black;
    width:20px;
    outline: none;
}
.generateButton{
    width:150px;
    background-color: transparent;
    border-width:0px;
    border:1px solid black;
    border-radius:8px;
    padding: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-width: 1px;
    font-family: var(--fontFamily);
    font-size: 16px;
}
.tableDiv{
    border:3px solid var(--mainColor);
    background-image:url("../../background.png"); 
  background-size: no-repeat;
  background-size:cover;
}
.tableC{
    border:1px solid black;
    border-top:0px;
    border-left: 0px;
    border-right:0px;
    border-collapse: collapse;
    width:85vw;
}
.tableD{
    text-align: center;
    font-size: 20px;
    font-family: var(--fontFamily)
}
.tableData{
    border:1px solid black;
    text-align: center;
    font-size: 18px;
    font-family: var(--fontFamily)
}
.alottedSlots, .availableSlots{
    margin-top:15px;
    font-family: var(--fontFamily);
    font-size:20px;
}
.crossButton, .editButton{
    background-color: transparent;
    border-width: 0px;
    outline: none;
    color:var(--mainColor);
    font-size:26px
}
.error{
    color:red;
    font-family: var(--fontFamily)
}
.slotError{
    color:red;
    font-family: var(--fontFamily);
    text-align: center;
    font-size:30px;
    margin-top: 80px;
}

/* @media (max-width:876px){
    .tableC{
        width:30vw;
    }
    .tableD{
        font-size: 14px;
    }
    .tableData{
        font-size: 14px;
    }
} */